#include "mona2.dtsi"

// 1. ドングルの物理キーマトリクスを無効化
&kscan0 {
    status = "disabled";
};

// 2. ディスプレイ用のダミーをシステムマトリクスに設定
/ {
    chosen {
        zmk,kscan = &xiaord_mock_kscan;
    };
};

// 3. エラー回避のため、物理レイアウトもダミーを参照するように上書き
&physical_layout0 {
    kscan = <&xiaord_mock_kscan>;
};

// ※これ以外の記述（&sensors や columns 等）は一切不要です！
