#include "mona2.dtsi"

/ {
    // 【ダミーA】親機用の「0x0」ダミー
    // 左手のキー番号がズレるのを防ぎます（コンボが復活します）
    mock_local: mock_local {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
        status = "okay";
    };

    chosen {
        zmk,kscan = &mock_local;
        zmk,matrix-transform = &default_transform;
    };
};

// 【ダミーB】レイアウト用の「11x4」ダミー
// mona2.dtsiで physical_layout0 に紐付いている kscan0 を乗っ取ります。
// システムに「キーボード全体で44キーある」と教え、標準キーが捨てられるのを防ぎます（通常キー復活します）
&kscan0 {
    compatible = "zmk,kscan-mock";
    columns = <11>;
    rows = <4>;
    events = <0>;
    status = "okay";

    /delete-property/ row-gpios;
    /delete-property/ col-gpios;
    /delete-property/ diode-direction;
};

// フリーズの真の原因（ゴーストセンサー）の封鎖
&sensors {
    status = "disabled";
};

&left_encoder {
    status = "disabled";
};

&right_encoder {
    status = "disabled";
};
